<p id="notice"><%= notice %></p>

<h1>Listing Voicemsgs</h1>

<table>
  <thead>
    <tr>
      <th>Physician</th>
      <th>Patient</th>
      <th>Voice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voicemsgs.each do |voicemsg| %>
      <tr>
        <td><%= voicemsg.physician %></td>
        <td><%= voicemsg.patient_id %></td>
        <td><%= voicemsg.voice %></td>
        <td><%= link_to 'Show', voicemsg %></td>
        <td><%= link_to 'Edit', edit_voicemsg_path(voicemsg) %></td>
        <td><%= link_to 'Destroy', voicemsg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voicemsg', new_voicemsg_path %>
